/*
* Copyright 2025. All Rights reserved.
* DILARANG MENYALIN, MENGUBAH, MENGGUBAH, MEMODIFIKASI KODE CSS INI.
*/


/* MAIN PADDING */

main {
    margin-top: 100px;
    padding: 0 65px;
}

/* ANIMASI HIGHLIGHT */

.magic {
    position: relative;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff;
    background-image: linear-gradient(#1a73e8, #1a73e8);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: hlght 4.8s ease-in-out infinite;
}

.magic::before {
    content: "modal terbatas?";
    animation: gantiKata 4.8s linear infinite;
}

@keyframes hlght {

    0%,
    4% {
        background-size: 0% 100%;
    }

    10%,
    22% {
        background-size: 100% 100%;
    }

    28%,
    33% {
        background-size: 0% 100%;
    }

    33%,
    37% {
        background-size: 0% 100%;
    }

    43%,
    55% {
        background-size: 100% 100%;
    }

    61%,
    66% {
        background-size: 0% 100%;
    }

    66%,
    70% {
        background-size: 0% 100%;
    }

    76%,
    88% {
        background-size: 100% 100%;
    }

    94%,
    100% {
        background-size: 0% 100%;
    }
}

@keyframes gantiKata {

    0%,
    33% {
        content: "modal terbatas?";
    }

    33.01%,
    66% {
        content: "tapi punya ide";
    }

    66.01%,
    100% {
        content: "biar kita danai";
    }
}

/* HEADER CSS */

header {
    padding: 0 5%;
    display: flex;
    justify-content: center;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

header .container .left {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
    margin-top: 20%;
}

header .container .left h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}

header .container .left p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

header .container .left .button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: auto;
    overflow: visible;
}

header .container .left .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

header .container .left .btn-1 {
    background-color: var(--first-color);
}

header .container .left .btn-2 {
    background-color: #000;
}

header .container .left .btn-1:hover {
    background-color: #000;
    transform: scale(1.1);
}

header .container .left .btn-2:hover {
    background-color: var(--first-color);
    transform: scale(1.1);
}

header .container .slider .slide img {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    animation: sliderAnimation 0.5s linear;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

@keyframes sliderAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

header .container .slider .slide.active {
    transform: scale(1);
}

header .container .slider .slide.off {
    transform: scale(0.7);
}


/* BATIK CSS */

.batik {
    padding: 0 5%;
    margin-top: 90px;
}

.batik h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.batik p {
    font-size: 16px;
}

.batik .batik-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

.batik .batik-card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.batik .batik-photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.batik .batik-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-align: center;
    padding: 10px;
}

.batik .batik-card:hover .batik-info {
    opacity: 1;
    transform: scale(1);
}

.batik .batik-info h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.batik .batik-info p {
    font-size: 0.9rem;
    max-width: 70%;
}


/* NAVIGATE CSS */

.navigate {
    padding: 0 5%;
    margin-top: 90px;
}

.navigate h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.navigate p {
    font-size: 16px;
}

.navigate .navigate-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.navigate .navigate-card {
    padding: 20px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.navigate .navigate-card h1 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    background-color: none;
}

.navigate .navigate-card p {
    font-size: 15px;
    font-weight: 400;
}

.navigate .navigate-card i {
    display: block;
    font-size: 30px;
}

.navigate .navigate-card .btn {
    margin-top: 30px;
    text-decoration: none;
    display: block;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    width: 70%;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.navigate .navigate-card .btn i {
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.navigate .navigate-card .btn:hover {
    transform: translateY(-10px);
    background-color: var(--first-color);
}

.navigate .navigate-card a:hover i {
    transform: translateX(5px);
}


/* RESPONSIVE */

@media (max-width: 768px) {
    .batik .batik-container {
        grid-template-columns: 1fr;
    }

    .navigate .navigate-container {
        grid-template-columns: 1fr;
    }

    .navigate .navigate-container {
        max-width: 100%;
    }

    .navigate .navigate-card a {
        width: 100%;
    }

    .navigate h1 {
        font-size: 30px;
    }
}

@media (width>769px) {
    header .container .slider .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (width>769px) and (width<1281px) {
    .navigate .navigate-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .navigate .navigate-card a {
        width: 100%;
    }
}

@media (width>300px) and (width<768px) {
    main {
        padding: 0 10px;
    }

    header {
        margin-top: 35%;
        padding: 0 10%;
    }

    header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .container .left {
        max-width: 100%;
        padding-right: 0;
    }

    header .container .left h1 {
        font-size: 30px;
    }

    header .container .left p {
        font-size: 14px;
    }

    header .container #h {
        margin-top: -20%;
    }

    header .container .slider {
        max-height: 82%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 110vw;
        max-width: none;
        scrollbar-width: thin;
        justify-content: center;
        align-items: center;
    }

    header .container .slider .container {
        display: flex;
        flex-direction: row;
    }

    header .container .slider .slide img {
        width: 450px;
        height: 450px;
        border-radius: 0px;
    }

    header .container .slider .slide.off {
        transform: scale(1);
    }

    .batik {
        margin-top: -70px;
    }
}

@media (width <=390px) {
    header .container #h {
        margin-top: -50%;
    }

    header .container .slider {
        max-height: 76%;
    }

    header .container .left .button-container {
        flex-direction: column;
        gap: 1px;
        max-width: 100%;
    }

    .batik {
        margin-top: -40%;
    }
}

@media (width>400px) and (width<768px) {
    main {
        padding: 0 10px;
    }

    header {
        margin-top: 20%;
        padding: 0 10%;
    }

    header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .container .left {
        max-width: 100%;
        padding-right: 0;
    }

    header .container .left h1 {
        font-size: 30px;
    }

    header .container .left p {
        font-size: 14px;
    }

    header .container #h {
        margin-top: -40%;
    }

    header .container .left .button-container {
        margin-top: 20px;
        flex-direction: column;
        gap: 1px;
        width: 70%;
        max-width: 100%;
    }

    header .container .slider {
        max-height: 75%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 110vw;
        max-width: none;
        scrollbar-width: thin;
        justify-content: center;
        align-items: center;
    }

    header .container .slider .container {
        display: flex;
        flex-direction: row;
    }

    header .container .slider .slide img {
        width: 450px;
        height: 450px;
        border-radius: 0px;
    }

    header .container .slider .slide.off {
        transform: scale(1);
    }

    .batik {
        margin-top: -40%;
    }
}

@media (width>767px) and (width<1241px) {
    main {
        padding: 0 10px;
    }

    header {
        margin-top: 5%;
        padding: 0 10%;
    }

    header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .container .left {
        max-width: 100%;
        padding-right: 0;
    }

    header .container .left .button-container {
        margin-bottom: 50px;
    }

    header .container .left h1 {
        font-size: 40px;
    }

    header .container .left p {
        font-size: 16px;
    }

    header .container #h {
        margin-top: -40%;
    }

    header .container .slider {
        max-height: 71%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 110vw;
        max-width: none;
        scrollbar-width: thin;
        justify-content: center;
        align-items: center;
    }

    header .container .slider .container {
        display: flex;
        flex-direction: row;
    }

    header .container .slider .slide img {
        width: 450px;
        height: 450px;
        border-radius: 0px;
    }

    header .container .slider .slide.off {
        transform: scale(1);
    }

    .batik {
        margin-top: -30%;
    }
}

@media (width>819px) and (width<1180px) {
    header .container .slider {
        max-height: 65%;
        width: 100vw;
    }

    header .container .slider .slide img {
        width: 400px;
        height: 400px;
        border-radius: 0px;
    }

    .batik {
        margin-top: -45%;
    }
}

@media (width: 1024px) and (height: 1366px) {
    header .container .slider {
        max-height: 65%;
    }
}

@media (width: 540px) {
    header .container #h {
        margin-top: -10%;
    }

    .batik {
        margin-top: -20%;
    }
}

@media (width: 1024px) and (height: 600px) {
    header .container #h {
        margin-top: 1%;
    }

    .batik {
        margin-top: -10%;
    }
}
